@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;

// About Page

body {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  h1 {
    font-size: 2rem;
    padding-top: 4rem;
    @include Bebas-Neue;
  }
  .details-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
      font-size: 1rem;
      @include Oswald;
    }
  }

  .main-logo-bg {
    width: 50%;
    height: auto;
    opacity: 25%;
    position: fixed;
    top: 50%;
    left: 25%;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    img {
      width: 2rem;
      height: 2rem;
    }
    a {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}

// Tablet Version
@media (min-width: 48em) {
  .about {
    h1 {
      font-size: 5rem;
    }

    .social-links {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      margin: 2rem;

      img {
        width: 5rem;
        height: auto;
      }

      a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
      }
    }

    .details-about {
      padding: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.25rem;
        text-align: left;
        @include Oswald;
      }
    }

    .social-links {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin: 2rem;

      img {
        width: 10rem;
        height: auto;
      }

      a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
      }
    }

    .main-logo-bg {
      width: 50%;
      width: 50%;
      opacity: 25%;
      position: fixed;
      top: 50%;
      left: 25%;
      z-index: -999;
    }
  }
}

// Desktop Version

@media (min-width: 64em) {
  .about {
    h1 {
      font-size: 5rem;
    }

    .social-links {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      margin: 2rem;

      img {
        width: 5rem;
        height: auto;
      }

      a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
      }
    }

    .details-about {
      padding: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15rem;
      p {
        font-size: 1.6rem;
        text-align: left;
        @include Oswald;
        text-wrap: balance;
      }
    }

    .social-links {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin: 2rem;

      img {
        width: 10rem;
        height: auto;
      }

      a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
      }
    }

    .main-logo-bg {
      width: 25%;
      opacity: 25%;
      position: fixed;
      top: 50%;
      left: 25%;
      z-index: -999;
    }
  }
}
