@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;

// About Page

body {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  h1 {
    font-size: 2rem;
    padding-top: 4rem;
    @include Bebas-Neue;
  }
  .details-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
      font-size: 1rem;
      @include Oswald;
    }
  }

  .main-logo-bg {
    width: 50%;
    height: auto;
    opacity: 25%;
    position: fixed;
    top: 50%;
    left: 25%;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    img {
      width: 2rem;
      height: 2rem;
    }
    a {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}

// Tablet Version

@media (min-width: 768px) {
  .about {
    h1 {
      font-size: 5rem;
    }
    
    .details-about {
      p {
        font-size: 3rem;
        text-align: left;
        @include Oswald;
      }

      flex-direction: row;
      align-items: center;
    }

    .social-links {
      flex-direction: column;
      gap: 2rem;
      width: 8rem;
    }
  }
}
