@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;

body {
  background-color: #0f0f0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23383737' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  color: white;
  @include Lora;
  margin: 0;
  padding: 1rem;
  overflow-x: hidden;
  transition:
    background-color 0.5s,
    color 0.5s,
    font-size 0.5s;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 5%;
  z-index: -1;
  width: 100%;
  height: 100%;
}
