@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;

.details-section {
  background-color: #00000000;
  color: #fff;
  margin: 2.6rem 0;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
    @include Bebas-Neue;
    letter-spacing: 0.5rem;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    @include Oswald;
    letter-spacing: 0.5rem;
  }

  p {
    text-align: left;
    font-size: 1rem;
    text-wrap: balance;
  }

  blockquote {
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
    padding: 0.25rem;
    background-color: white;
    color: black;
    margin: 1.25rem 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    p {
      margin: 0 auto;
      padding: 0.5rem;
    }
  }

  .details-image {
    width: 100%;
    height: auto;
    max-width: 30rem;
  }

  .duration {
    padding: 4px 8px;
    border: 1px solid #fff;
    background-color: #ffffff;
    color: black;
  }

  .details-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .details-details {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;

    .release-date {
      margin-left: 2rem;
    }

    .rating {
      padding: 2px 6px;
      border: 1px solid #fff;
    }
  }
}

.details-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;

  .img-star-container {
    position: relative;
    .container-top-details {
      position: absolute;
      height: min-content;
      top: -0.625rem;
      left: -0.6rem;

      img {
        width: 3rem;
        height: 3rem;
      }
    }

    .container-bottom-details {
      position: absolute;
      height: min-content;
      bottom: -0.25rem;
      right: -0.7rem;
      img {
        width: 3rem;
        height: 3rem;
      }
    }
    .stars-details {
      position: absolute;
      height: min-content;
      bottom: -4%;
      right: 40%;
      padding: 0.25rem;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 0 0 0 1.25rem;
      span {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}

//Tablet version
@media (min-width: 48em) {
  .details-section {
    display: flex;
    flex-direction: row;
    background-color: #00000000;
    color: #fff;
    margin: 2.2rem 0;
    padding: 2rem 2rem;
  }

  .details-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;

    .img-star-container {
      position: relative;
      .stars-details {
        position: absolute;
        height: min-content;
        top: -4%;
        right: -2.8rem;
        span {
          img {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }

  .details-section .details-title {
    font-size: 2.5rem;
  }

  .details-image {
    width: 100%;
    height: auto;
  }

  .details-content {
    width: 60%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .details-image-container .stars-details {
    bottom: 66rem;
    width: 5rem;
    height: 4rem;
  }

  .details-section p {
    font-size: 1.2rem;
  }
}

@media (min-width: 84em) {
  .details-section {
    display: flex;
    flex-direction: row;
    background-color: #00000000;
    color: #fff;
    margin: 2.5rem 0;
    padding: 5rem 5rem;
  }

  .details-section .details-title {
    font-size: 3rem;
  }

  .details-image-container {
    width: 50%;
    margin-bottom: 0;
    padding-right: 2rem 2rem;
  }

  .details-image {
    width: 80%;
    height: 80%;
  }

  .details-content {
    width: 55%;
    padding-left: 2rem;
  }

  .details-image-container .stars-details {
    bottom: 66rem;
    width: 5rem;
    height: 4rem;
  }

  .details-section p {
    font-size: 2.2rem;
  }

  .details-details {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    .release-date {
      margin-left: 2rem;
    }

    .details-section .details-details {
      font-size: 24px;
      padding: 4px 8px;
      border: 1px solid #fff;
    }
  }
}
