@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;

.favorite-section {
  padding: 2rem;
  margin: 2rem 0;

  .movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    // Desktop: row of posters
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }

    // Mobile: column of posters
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .movie-item {
    flex: 1 1 20%; /* Adjust width for desktop, 5 items per row */

    @media (max-width: 767px) {
      flex: 1 1 100%; /* Full width for mobile */
    }

    .movie-poster {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .scroll-trigger {
    height: 1px; /* Invisible, but used for the scroll trigger */
  }
}
