@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;


footer {
    background-color: #00000011;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
.footer-logo-container {
  position: relative;
  padding: 2rem;
  a {
    position: absolute;
    z-index: 999;
    top: 30%;
    left: 48%;
    img {
      width: 5rem;

    }
  }
}
hr {
  border: 1px solid #ffffff;
 }
  .footer-container {
    justify-content: space-between; 
    align-items: center;
    position: relative;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
.footer-links li {
    display: inline;
    margin: 0 20px;
    text-align: center;
    @include Bebas-Neue;

  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
    justify-content: center;
  }
  
  .footer-links a:hover {
    color: #00FB03;
  }

  .footer-social-links {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  }

 
.footer-social-links a {
  width: 2rem; 
  height: 2rem;
}

.footer-social-links a img {
  width: 100%;
  height: auto;
}

.footer-p {
  @include Oswald;
  margin-top: 2rem;
}




@media (max-width: 20em) {

  .footer-logo-container {
    position: relative;
    padding: 2rem;
    a {
      position: absolute;
      z-index: 999;
      top: 30%;
      left: 37%;
      img {
        width: 5rem;
  
      }
    }
  }

.footer-links li, .footer-links a {
  display: block;
  text-align: left;
  margin: 0 20px;
}


}
  @media (max-width: 48em) {

    .footer-logo-container {
      position: relative;
      padding: 2rem;
      a {
        position: absolute;
        z-index: 999;
        top: 30%;
        left: 45%;
        img {
          width: 5rem;
    
        }
      }
    }
 
  .footer-links li, .footer-links a {
    display: block;
    text-align: left;
    margin: 0 20px;
  }
  

}