@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;

.hero-section {
  background-color: #00000000;
  color: #fff;
  padding: 20px;

  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 1.25rem 0;
    @include Bebas-Neue;
    letter-spacing: 0.5rem;
  }

  .hero-image-container {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    .hero-container-top {
      position: absolute;
      top: -0.5rem;
      left: -0.5rem;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.066);
      backdrop-filter: blur(1px);
      width: 0.75rem;
    }
    .hero-container-bottom {
      position: absolute;
      bottom: -0.5rem;
      right: -0.5rem;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.044);
      backdrop-filter: blur(1px);
      width: 0.75rem;
    }
    .prev-slide {
      position: absolute;
      top: 50%;
      left: -2rem;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.162);
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      // remove button styling
      border: none;
      outline: none;
      img {
        width: 1.6rem;
      }
    }
    .next-slide {
      position: absolute;
      top: 50%;
      right: -2rem;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.047);
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      outline: none;
      img {
        width: 1.6rem;
      }
    }
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .hero-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .hero-details {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
    margin-bottom: 10px;

    .rating,
    .duration {
      font-size: 14px;
      padding: 2px 6px;
      border: 1px solid #fff;
    }
  }

  .hero-description {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }

  .hero-buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px;
      background-color: #fff;
      color: #000;
      border: none;
      cursor: pointer;
      flex-grow: 1;
      margin: 5px;
    }
  }
}
