@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;

.hero-section {
  background-color: #00000000;
  color: #fff;
  padding: 20px;

  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .hero-image-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .hero-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .hero-details {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;

    .rating,
    .duration {
      font-size: 14px;
      padding: 2px 6px;
      border: 1px solid #fff;
    }
  }

  .hero-description {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }

  .hero-buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px;
      background-color: #fff;
      color: #000;
      border: none;
      cursor: pointer;
      flex-grow: 1;
      margin: 5px;
    }
  }
}
