@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;

/* CSS */

.sub-navigation {
  .subnav {
    @include two-column-row-grid;
    gap: 1rem;
    margin-top: 0.5rem;
    #now-playing {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    #popular {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    #top-rated {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    #upcoming {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}

// button sub-nav
.button-38 {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249, 250, 251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/* Tablet Version */
@media (min-width: 768px) {
  .sub-navigation {
    padding: 1rem;
    margin-bottom: 2rem;

    .subnav {
      @include flex-row;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 0 2rem;
    }
  }

  .button-38 {
    width: 10rem;
  }
  .button-38:hover {
    color: inherit;
    text-decoration: none;
  }
}
