@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;
@use "../base/typography" as *;
// @import '~bootstrap/scss/bootstrap';

.subnav-ul {
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  display: grid;
  gap: 1rem;

  /* Default: Single column */
  grid-template-columns: 1fr;

  @media (min-width: 40em) and (max-width: 47.5em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 48em) and (max-width: 83.5em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 84em) and (max-width: 96.5em) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 97em) and (max-width: 119.5em) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 120em) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.movie-wrap {
  position: relative;
  background-color: white;
  padding: 0.5rem;
  margin: 0 auto;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.025);
  }
  img {
    display: block;
    width: 100%;
    height: 80%;
    padding-bottom: 0.5rem;
  }
  .movie-title {
    text-align: center;
    margin: auto 0;
    padding: 1rem;
    a {
      color: black;
      text-decoration: none;
      @include Oswald;
    }
  }

  .shadow-text {
    position: relative;
    background-color: rgb(85, 82, 82);
    padding: 0.5rem;
    margin: 0 auto;
  }
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 1.25rem;
  padding: 1.25rem;
  text-align: center;
}

.stars {
  position: absolute;
  z-index: 1;
  width: 3rem;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: color 3s ease-in-out;
}

.star-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.search_bar {
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 400px;
  margin: 1.5rem auto;
}

.search_bar input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.search_bar button {
  padding: 0.75rem 1rem;
  margin-left: 1rem;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie-title h2 {
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; /* Adjust to match your design */
  max-height: 2.4em; /* Ensure this is exactly 2 times the line-height */
  min-height: 2.4em; /* Ensures the block always takes up 2 lines */
}

.movie-title h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; /* Adjust to match your design */
  max-height: 2.4em; /* Ensure this is exactly 2 times the line-height */
  min-height: 2.4em; /* Ensures the block always takes up 2 lines */
}

.movie-title h2:empty::before {
  content: "\00A0"; /* Non-breaking space to ensure two lines are shown even if the title is empty */
  visibility: hidden; /* Keeps the space invisible but ensures height */
}

.carousel-caption {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a background with opacity */
  justify-content: center;
  align-items: center;
  color: white; /* Text color */
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .button-38 {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove any borders */
    font-size: 1.25rem; /* Set font size */
    color: rgb(255, 255, 255); /* Default text color */
    cursor: pointer;
    transition: color 0.3s ease; /* Transition for color only */

    // &:hover {
    //   color: #ff5f5f; /* Change text color on hover */
    // }

    &:focus {
      outline: none; /* Remove outline when focused */
    }
  }
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 1rem;
  &:hover {
    opacity: 1;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    img {
      width: 2.5rem;
    }
  }
}
