@mixin two-column-row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  
}

@mixin Bebas-Neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin Lora {
  font-family: "Lora", serif;
  font-style: normal;
}

@mixin Oswald {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

@mixin longshadow($color1, $color2, $length) {
  text-shadow: shadow-string($color1, $color2, $length);
}
