$color-background: #131313;

//color vars
$color-bg: #ffea80;
$color-title: #ffffd9;
$color-line-1: #ff6138;
$color-line-2: #ffb400;
$color-line-3: #00a388;
$color-line-4: #005ab3;
$color-line-5: #8100ff;
